.clients__section {
  padding-top: 95px;
}

.clients__list--item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  margin-right: 30px;
}

.clients__list--item:hover {
  color: #2196f3;
  border-color: #2196f3;
  transition: border-color 250ms;
}

.clients__section--title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.clients__section--list {
  padding-bottom: 95px;
  display: block;
  display: flex;
}

.clients__item--icon {
  width: 44px;
  height: 49px;
  fill: currentColor;
  padding-top: 20px;
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 20px;
  margin-bottom: 20px;
}